python-dev
setuptools>=41.2
numpy
scipy
pandas
netCDF4 
matplotlib>=3.3.3
xarray
cftime<=1.2.1
nc-time-axis<=1.2.0
jupyter
ipython
-e git://github.com/jkrasting/gfdlvitals.git#egg=gfdlvitals
-e git://github.com/raphaeldussin/xoverturning.git#egg=xoverturning
